<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Attendance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S">
        <activity
            android:name=".Studentattendancereportactivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name=".SmartAttendanceFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".StudentLeaveHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherLeaveRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceReportActivity"
            android:exported="false" />
        <activity
            android:name=".LiveSessionActivity"
            android:exported="false" />
        <activity
            android:name=".ClassDetailsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <activity
            android:name=".ClassroomSettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity2"
            android:exported="false" />
        <activity
            android:name=".TeacherDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".ApproveStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".FaceRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".FaceScanActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LeaveRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ManageStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".FaceControlActivity"
            android:exported="false" />
        <activity
            android:name=".LocationTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>